@page "/counter"
@inherits CounterBaseClass
<h1>Counter</h1>

<p>Current count:  @currentCount</p>
<button onclick="returnArrayAsync()">
    Trigger .NET static method
</button>
<button class="btn btn-primary" >Click me</button>
