<h3>File Upload</h3>
<label for="formFileLg" class="form-label">Large file input example</label>
<div class="row">
    <div class="col-lg-9">
        <input multiple class="form-control form-control-lg" id="fileToUpload" type="file" />
    </div>
    <div class="col-lg-3">
        @*<button type="button" id="upload" onclick="returnArrayAsync()" class="btn btn-outline-secondary">Upload</button>*@
        <button class="btn btn-outline-secondary" onclick="returnArrayAsync()">
            Upload
        </button>
       
    </div>

    @*<form method="post" asp-controller="Home" asp-action="SaveFileNameLocalStorage">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload file</p>
                <input class="form-control" name="files" multiple="multiple" type="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input class="btn btn-success" type="submit" value="Upload" />
            </div>
        </div>
    </form>*@

    @*<div id="dbiuploadprogress">

        </div>*@
</div>
