@page "/" 
    <div class="row">
        <div class="col-lg-9">
            <section class="post-content">
                <FileUpload />
            </section>
            <hr />

            <section>
                <FileList />
            </section>
            <hr />
        </div>
        <div class="col-lg-3">
            <section>
                <Progressbar />
            </section>
        </div>
    </div>  