@inherits ProgressBarBaseClass

<div class="row" id="FileListcomponent" >
    <button class="btn btn-success" id="AllDownloadButton" style="display:none" onclick="StartAllDownload()">
        StartAllDownload
    </button>
</div>
