@inherits ProgressBarBaseClass 
<div class="row" id="FileListcomponent">
    @if (FileLists != null)
    {
        @foreach (var File in FileLists)
        {
            <div class="col-md-12" id="divcomponentID_@File.FileName">
                <h3 class="progress-title">@File.FileName </h3>
                <div class="progress">
                    <div class="progress-bar" id="progressbarid_@File.FileName" style="width:0%; background:#97c513;">
                        <div class="progress-value" id="progressbarvalue_@File.FileName">0%</div>
                    </div>
                </div>
                <p>
                    <button type="button" class="btn btn-outline-success" onclick="upload_file(0 ,'@File.AwsId')">Start Upload</button>
                    <span style="margin-left: 136px;" id="UploadTime_@File.FileName"> </span>
                </p>
            </div>
        }
    }
</div>
