@inherits LayoutComponentBase

<div class="page">


    <div class="main">
        <div class="top-row px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content px-4">
            @Body
        </div>
        
    </div>
    @*<div class="" style="width: 239px; height: 145vh; position: sticky; top: 0; background-color: #9ea2a233; margin: -109px -24px 0px 13px;">
        <HopOn.Pages.Progressbar />
    </div>*@
</div>
