<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 50MB -->
        <!--<requestLimits maxAllowedContentLength="52428800" />-->
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
  </system.webServer>
<system.web.extensions>
       <scripting>
           <webServices>
               <!-- Update this value to change the value to 
                    a larger value that can accommodate your JSON 
                    strings -->
               <jsonSerialization maxJsonLength="209715200" />
           </webServices>
       </scripting>
   </system.web.extensions>
</configuration>